body{
	background-color: black;
}

header{
	background-color: white;
}

footer{
	background-color: red;
}

header .links {
		text-align: center;
}

header .links a {
	color: black;
	font-size: 18px;
	margin: 10px;
}


.articulo {
	color: black;
	background-color: white;  
}

#logo{
	text-align: center;
}
/*
id uno solo generalmente con #

clases mas de uno con .

*/